.cache
compile_commands.json
.vscode/*
!.vscode/settings.json

ex00/*
!ex00/Makefile
!ex00/main.cpp
!ex00/ClapTrap.hpp
!ex00/ClapTrap.cpp

ex01/*
!ex01/Makefile
!ex01/main.cpp
!ex01/ClapTrap.hpp
!ex01/ClapTrap.cpp
!ex01/ScavTrap.hpp
!ex01/ScavTrap.cpp

ex02/*
!ex02/Makefile
!ex02/main.cpp
!ex02/ClapTrap.hpp
!ex02/ClapTrap.cpp
!ex02/ScavTrap.hpp
!ex02/ScavTrap.cpp
!ex02/FragTrap.hpp
!ex02/FragTrap.cpp
